NODE_ENV=production
PORT=3001

# config database docker
DATABASE_PASSWORD=1234
DATABASE_POST_PUBLIC=3307

# database url use port database public
DATABASE_URL="mysql://root:1234@db:3306/user_management"

# JWT Configuration
JWT_SECRET=your-super-secret-jwt-key-here-please-change-in-production
JWT_EXPIRES_IN=3600
