# Dependencies
node_modules/

# Production builds
dist/
build/

# Environment variables
# .env
# .env.development
# .env.production

# IDE
.vscode/
.idea/
*.swp
*.swo


# Logs
*.log

# TypeScript
*.tsbuildinfo
